<section class="light" id="about">
    @if (hero is not null)
    {
        <img class="background img-fluid" src="@(hero.Src)" alt="@(hero.Alt)" style="max-width: 100%; height: auto;" />
    }
    <h2>About Myself</h2>
    <div style="background-color: white; width: 90%; max-width: 800px; padding: 2rem; margin: 3rem auto; text-align: center;">
        @if (aboutMe is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <p class="large" style="font-size: 1.25rem;">@aboutMe.Description</p>
            <hr />
            <ul style="display: flex; flex-wrap: wrap; justify-content: center; text-align: left; font-size: 1.25rem; margin: 2rem 0;">
                @foreach (var skill in aboutMe.Skills)
                {
                    <li style="flex: 1 1 45%; margin: 0.5rem;">@skill</li> <!-- Ajusta el tamaño del flex según sea necesario -->
                }
            </ul>
            <hr />
            <p style="padding: 1rem 3rem 0;">@aboutMe.DetailOrQuote</p>
        }
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private AboutMe? aboutMe;
    private HeroImage? hero;

    protected override async Task OnInitializedAsync()
    {
        aboutMe = await Http.GetFromJsonAsync<AboutMe>("sample-data/aboutme.json");
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "about");
    }
}
